* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  header section css */

.main-manu {
    height: 100px;
    width: 100%;
    background-color: rgb(202, 241, 241);
    border-radius: 7px;
    box-shadow: 0 0 5px 2px rgba(207, 171, 171, 0.4);
    display: flex;
    /* align-items: center; */


}

.logo img {
    height: 90px;
    width: 98px;

}

.manu {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.manu-1 {
    height: 48px;
    width: 680px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    background-color: rgb(202, 241, 241);
    border-radius: 7px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;

}

.manu-1 li {
    list-style: none;
}

.manu-1 li a {
    text-decoration: none;
    font-size: larger;
    font-weight: 800;
    color: black;
    text-transform: capitalize;
}

.manu-1 li:hover {
    background: rgb(171, 219, 213);
    box-shadow: 0 0 5px 3px rgb(78, 95, 97);
    border-radius: 10px;
    padding: 7px 13px;
}


.manu-3 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: none;
    background-color: rgb(154, 199, 154);
    width: 130px;
    position: absolute;
    border-radius: 13px;
    margin-right: 28px;
    /* margin-top: 9px; */
    



}
.manu-3 li{
   margin:2px;
}

.map:hover .manu-3 {
    display: block;
    /* position: absolute; */
    box-shadow: 0 0 5px 3px rgb(78, 95, 97);
    border-radius: 13px;
    padding: 7px 13px;
    width: 130px;
   
}
@media(max-width:390px)
{
    .hader{
        height: 844px;
        width: 390px;
    }
.main-manu{
    height: 70px;
    width: 100%;
}
.logo{
    height: 10px;
    width: 10px;
    
}
.manu{
    height: 30px;
    width: 80px;

}
.manu-1{
    
}
}