* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}
body{
background-color: rgb(160, 156, 209);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 13px;

}
.fixed{
    height: 40px;
    width: 100%;
    background-color: rgb(228, 238, 218);
    position: fixed;
    top: 0;
    z-index: -1;

}
.fixed h3{
    text-align: center;
    font-size: 30px;
}
.main-1{
    height: 250px;
   width: 200px;
   border: 8px black solid;
   padding: 2px 10px 2px 10px;
   position: relative;
   z-index: -10;
   margin-top: 40px;
}
.main-2{
     height: 250px;
   width: 200px;
   border: 8px black solid;
   padding: 2px 10px 2px 10px;
   position: relative;
   z-index: -10;
}
.main-3{
     height: 250px;
   width: 200px;
   border: 8px black solid;
   padding: 2px 10px 2px 10px;
   position: relative;
   z-index: -10;
   
}
h2{
    height: 40px;
    width: 50px;
    background-color:rgb(239, 239, 243) ;
     text-align: center; 
    position: absolute;
    top: 0;
    right: 0;

}
.sticky{
    /* width: 200px; */
    /* height: 500px; */
    border: 10px black solid;
    /* position: sticky;
    bottom: 0;; */
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.sticky h4{
width: 40px;
height: 50px;
background-color: coral;
position: sticky;
bottom: 0;


}