* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d20;
    position: relative;
}


.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100px;
    /* position: sticky; */
    /* top: 0; */
    /* bottom: 0; */

}


/* side manu start  */

.side-manu {
    width: 80px;
    height: 34px;
    border: 3px solid white;
    position: absolute;
    right: 40px;
    border-radius: 20px;
    display: none;
}

.side-manu h4 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin: auto 0;
}

.side-bar {
    list-style: none;
    position: absolute;
    background-color: #62cab9;
    top: 26px;
    right: 0px;
    display: none;
    gap: 3px;
    padding: 10px;
    border-radius: 20px;
}

.side-manu:hover .side-bar {
    display: block;
}

.side-bar li {
    text-decoration: none;

}

.side-bar li a:hover {
    background-color: #111111;
    padding: 6px;
    border-radius: 15px;
}

.side-bar li a {
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
}


/* side manu end  */


.manu {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 30px;
    /* position: absolute; */
   
    box-shadow: 0 0 5px 2px rgba(223, 217, 217, 0.8);
    /* background-color: #111111; */
    position: sticky;
    top: 0px;
    /* bottom: 10px; */
    
    
   


}

.manu-s {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
     


}

.nav-link a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    color: #efeff1;
   

}

.nav-link a:hover {
    color: #62cab9;
    cursor: pointer;
}

/* hero section start  */

.main-continer {
    max-width: 1024px;
    width: 100%;
    padding: 55px 0 0 20px;
    margin: 0 auto;
    background-color: #353535;
    height: 100%;
    border-radius: 20px;
}

.content {

    display: flex;
    flex-direction: column;

}

.content>img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 60px;
}

.heading {
    font-size: 55px;
    text-transform: capitalize;
    list-style: lower-greek;
    line-height: 1.1;
    color: rgb(248, 251, 253);

}

.description {

    font-size: 20px;
    text-transform: lowercase;
    font-weight: 550;
    color: rgb(178, 186, 187);
    margin-top: 20px;

}

.icons {
    display: flex;
    gap: 39px;
    padding: 60px 0 60px 0;
}

.icons img {
    height: 40px;
    width: 40px;
}

.images{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
.images img{
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: 50px;
   
   
}



/* hero section end  */



/* media screen start */



@media (max-width:1024px) {
    .wrapper{
    padding: 40px;
    }
    .images{
        display: flex;
        width: 100%;
    }
    .images img{
        height: ;
        width: 200px;
    }
    .main-continer{
        height: 100%;
    }
    
}

@media (max-width:768px) {
  .wrapper{
    padding: 20px;
    }
    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .images img{
        height: 300px;
        width: 300px;
        border-radius: 200px;
    }
    
    .manu {
        display: none;
    }

    .main-continer {
        /* margin: 80px 15px 0 15px; */
    }

    .content img {
        height: 70px;
        width: 70px;
    }

    .heading {
        font-size: 38px;
    }

    .description {
        font-size: 15px;
    }

    .icons img {
        height: 30px;
        width: 30px;
    }

    .side-manu {
        display: block;
    }
}




/* media screen end  */