* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d20;
   
}

.navbar {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 0;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #46edd5; */
    height: 20px;




}

.manu {
    background-color: #111111;
    padding: 12px 20px;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(207, 171, 171, 0.4);
    margin-bottom: 40px;

}

.manu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link a {
    text-decoration: none;
    color: #efeff1;
    font-weight: 600;
    font-size: 14px;
}

.nav-link a:hover {
    color: #46edd5;
    cursor: pointer;

}

.main-continer {
    max-width: 1024px;
    width: 100%;
    margin: 80px auto;
    background-color: #353535;
    min-height: 100svh;
    padding: 0 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;

}

.content img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    /* margin-left: 10px; */
    object-fit: cover;
}


.section-heading {
    color: rgb(248, 251, 253);
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
    text-transform: capitalize;
}

.description {
    color: rgb(178, 186, 187);
    font: 800;
    margin-top: 35px;
    font-size: 20px;
    
}

/* 'hero section ' */



.content {
    width: 100%;
    /* height: 400px; */
    display: flex;
    align-items: center;
    /* flex-direction: column;  */
     /* gap: 20px; */
    /* border: 3px solid black; */ 
    /* margin-left: 40px; */

}

.social-icons {
    max-width: 500px;
    width: 100%;
    /* height: 80px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  

}

.social-icons img {
    height: 25px;
    width: 28px;
    color: aliceblue;
    cursor: pointer;
    filter: invert(0.9);  
}

@media (max-width:768px)  {
  
    .section-heading{
        font-size: 26px;
    }
    .navbar{
        display: none;
    }
    body{
        padding: 20px;
    }
    .main-continer{
        margin: 0;
    }
}
@media (max-width:360px) {
    .section-heading{
        font-size: 26px;
    }

    .nav{

    }
    
}
/* hero section end */